.bar {
  position: sticky;
  inset: auto 0 0;
  max-width: var(--nextui--navbarContainerMaxWidth);
  margin: 0 calc(var(--nextui--navbarPadding) * -1) calc(var(--nextui-space-12) * -1);
  padding: var(--nextui-space-md) var(--nextui--navbarPadding);
  background: var(--nextui--navbarBlurBackgroundColor);
  backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur));
  box-shadow: 0 -12px 20px 6px rgb(104 112 118 / 0.08);
}
