@use "../../../styles/breakpoints.scss" as *;

.alert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  min-height: 3rem;
  background-color: hsl(var(--nextui-foreground-100));
  border-radius: 50px;

  &.auto {
    display: inline-flex;
  }
}

.text {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.icon {
  flex: 0 0 20px;
  color: hsl(var(--nextui-secondary));
  margin-right: 0.25rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  padding-left: calc(20px + 0.25rem);
}

@include screen-min("sm") {
  .alert {
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
  }

  .actions {
    padding-left: 0;
  }
}
