.card {
  padding: 0 var(--nextui-space-xs);
}

.content {
  margin-top: var(--nextui-space-md);
}

.user {
  padding-left: 0;
}

.title {
  margin: 0;
}

.text {
  margin: var(--nextui-space-xs) 0;
  line-height: 1.5;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 4px;

  .icon {
    flex: 0 0 20px;
  }
}
