* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - var(--nextui--navbarHeight));
  padding: 3rem 0;
}

:root {
  --nextui-fonts-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nextui-user-info {
  white-space: inherit;

  .nextui-user-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.nextui-input-helper-text-container {
  position: static;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
