* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff
}

main {
  min-height: 100vh;
  padding: 2rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --nextui-fonts-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nextui-input-helper-text-container {
  position: static;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
