.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star {
  padding: 0 0.125rem;
  transition: 0.1s;
  color: hsl(var(--heroui-foreground-300));
  cursor: pointer;

  &.readOnly {
    cursor: default;
  }

  &.invalid {
    color: hsl(var(--heroui-danger-300));
  }
}

.star {
  display: flex;

  &:hover:not(.readOnly) {
    transform: scale(1.2);
  }
}

.star.checked,
.star:hover:not(.readOnly),
.star.checked ~ .star,
.star:hover:not(.readOnly) ~ .star {
  color: hsl(var(--heroui-warning-400));
}

.input {
  all: unset;
  width: 0;
  height: 0;

  &:focus-visible + .icon {
    outline: 2px solid hsl(var(--heroui-primary));
  }
}

.icon {
  fill: currentColor;
}
