.tag {
  display: inline-flex;
  background-color: hsl(var(--heroui-foreground-100));
  color: hsl(var(--heroui-foreground-500));
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }

  &.checked {
    background-color: hsl(var(--heroui-secondary-100));
    color: hsl(var(--heroui-secondary));
  }

  &.danger {
    color: hsl(var(--heroui-danger));
  }

  &.danger {
    background-color: hsl(var(--heroui-danger-50));
  }

  &.danger.checked {
    background-color: hsl(var(--heroui-danger-200));
    color: hsl(var(--heroui-danger-600));
  }
}

.input {
  all: unset;
  position: absolute;
  width: 0;
  height: 0;
}
