.tag {
  display: inline-flex;
  background-color: var(--nextui-colors-neutralLight);
  color: var(--nextui-colors-neutral);
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }

  &.checked {
    background-color: var(--nextui-colors-primary);
    color: white;
  }

  &.error {
    color: var(--nextui-colors-error);
  }

  &.error:not(.checked) {
    background-color: var(--nextui-colors-errorLight);
  }
}

.input {
  all: unset;
  position: absolute;
  width: 0;
  height: 0;
}
