@use "../../../styles/breakpoints.scss" as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--nextui-space-md);
}

@include screen-min("sm") {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
