.menu {
  display: grid;
  gap: 20px;
}

.group {
  position: relative;
  display: grid;
  gap: 4px;

  &.collapsed {
    grid-template-rows: 0;
  }
}

.wrapper {
  position: relative;
}

.clearButton {
  all: unset;
  position: absolute;
  inset: 0 0 0 auto;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.item {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 48px;
  gap: 8px;
  border-radius: 4px;
  padding: 4px 26px 4px 6px;
  color: var(--nextui-colors-text);
  transition: all 0.2s ease;
  background: var(--nextui--navbarBlurBackgroundColor);
  cursor: pointer;

  &.active {
    background-color: var(--nextui-colors-gray50);
  }

  &.selected {
    background-color: var(--nextui-colors-blue50);

    .icon {
      background-color: var(--nextui-colors-blue50);
      color: var(--nextui-colors-blue600);
    }
  }

  .clearButton:hover + &,
  &:hover {
    box-shadow: 0 0 10px var(--nextui-colors-textLight);
    transform: scale(1.01);
  }

  .clearButton:hover + &,
  &.selected:hover.cancelable {
    background: var(--nextui-colors-red50);

    .icon {
      background-color: var(--nextui-colors-red50);
      color: var(--nextui-colors-red600);
    }

    .check {
      display: none;
    }

    .cross {
      display: inline;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  font-size: var(--nextui-fontSizes-md);
  background-color: var(--nextui-colors-gray50);
}

.content {
  flex: 1;
}

.rightIcons {
  height: 24px;
}

.check,
.cross {
  position: absolute;
  right: 8px;
}

.check {
  fill: var(--nextui-colors-blue600);
}

.cross {
  display: none;
  fill: var(--nextui-colors-red600);
}

.moreButton {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
