.menu {
  display: grid;
  gap: 20px;
}

.group {
  position: relative;
  display: grid;
  gap: 4px;

  &.collapsed {
    grid-template-rows: 0;
  }
}

.wrapper {
  position: relative;
}

.clearButton {
  all: unset;
  position: absolute;
  inset: 0 0 0 auto;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.item {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 48px;
  gap: 8px;
  border-radius: 4px;
  padding: 4px 26px 4px 6px;
  transition: all 0.2s ease;
  cursor: pointer;

  &.active {
    background-color: hsl(var(--heroui-foreground-100));
  }

  &.selected {
    background-color: hsl(var(--heroui-secondary-50));

    .icon {
      background-color: hsl(var(--heroui-secondary-50));
      color: hsl(var(--heroui-secondary));
    }
  }

  .clearButton:hover + &,
  &:hover {
    box-shadow: 0 0 10px hsl(var(--heroui-foreground-300));
    transform: scale(1.01);
  }

  .clearButton:hover + &,
  &.selected:hover.cancelable {
    background: hsl(var(--heroui-danger-50));

    .icon {
      background-color: hsl(var(--heroui-danger-50));
      color: hsl(var(--heroui-danger));
    }

    .check {
      display: none;
    }

    .cross {
      display: inline;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: hsl(var(--heroui-foreground-100));
}

.content {
  flex: 1;
}

.rightIcons {
  height: 24px;
}

.check,
.cross {
  position: absolute;
  right: 8px;
}

.check {
  fill: hsl(var(--heroui-secondary));
}

.cross {
  display: none;
  fill: hsl(var(--heroui-danger));
}

.moreButton {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
